<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--Spring提供的实例化方式 第一种，在spring配置文件中直接配置类全路径，spring会自动调用该类的无参构造方法来实例化bean-->
    <bean id="springBean" class="com.phoenixdian.spring6.bean.SpringBean"/>

    <!--spring实例化的第二种方式，通过简单工厂模式，你需要在Spring配置文件中告诉Spring框架，调用哪个类的哪个方法获取Bean-->
    <!--factory-method属性指定的是工厂类中的静态方法，也就是告诉Spring框架 调用这个方法可以获取bean-->
    <bean id="star" class="com.phoenixdian.spring6.bean.StarFactory" factory-method="getStar"/>

    <!--第三种 通过工厂方法模式 通过factory-bean和factory-method属性共同完成-->
    <!--告诉Spring框架 调用哪个对象的哪个方法来获取bean-->
    <bean id="gunFactory" class="com.phoenixdian.spring6.bean.GunFactory"/>
    <!--factory-bean属性告诉spring调用哪个对象 factory-method告诉spring调用哪个方法-->
    <bean id="gun" factory-bean="gunFactory" factory-method="getGun"/>

    <bean id="person" class="com.phoenixdian.spring6.bean.PersonFactoryBean"/>

    <bean id="dateFactoryBean" class="com.phoenixdian.spring6.bean.DateFactoryBean">
        <constructor-arg index="0" value="2022-01-01 23:59:59"/>
    </bean>

    <bean id="student" class="com.phoenixdian.spring6.bean.Student">
        <property name="birth" ref="dateFactoryBean"/>
    </bean>
</beans>